p {
    color: #596e6b;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
}

.body-inicio {

    .img_princ {
        width: 100%;
        height: auto;
        margin-top: 60px;
    }
    .parrafoprinc {
        color: #596e6b;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding: 20px;
        font-size: large;
        font-weight: 500;
    }

    .video_inicio {
        text-align: center;
    }

}

footer {
    text-align: center;
    padding: 10px;

    .redes {
        list-style-type: none;
        display: inline;
        padding: 2px;
        align-items: center;

        .instagram, .facebook, .youtube {
            width: auto;
            height: 30px;
        }
    }
}

h1 {
    color: #596e6b;
    margin-top: 90px;
    text-align: center;
    padding: 10px;
}

h3, h4 {
    font-family: 'Courier New', Courier, monospace;
    color: #596e6b;
    padding: 10px;
}

.img_extra {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}